# Global ignores
*~
*.pyc
Makefile
Makefile.in

# /
/*.userprefs
/*.usertasks
/*.diff
/*.patch
/*.userprefs
/*.usertasks
/.vs
/m4
/configure
/config.*
/config.status
/depcomp
/autom4te.cache
/missing
/compile
/aclocal.m4
/install-sh
/intltool-update
/intltool-update.in
/intltool-merge
/intltool-merge.in
/intltool-extract
/intltool-extract.in
/gnome-doc-utils.make
/INSTALL
/libtool
/ltmain.sh
/mkinstalldirs
/pot-update
/stamp-h1
/tomboy.spec
/*.tar.gz
/*.tar.xz
/bin
/obj
/*.suo
/*.pidb
/*.png
/*ico
/UIManagerLayout.xml
/Tomboy.addin.xml
/Tomboy.app


# /data
/data/GNOME_TomboyApplet.server
/data/GNOME_TomboyApplet.server.in
/data/org.gnome.Tomboy.service
/data/tomboy-addins.pc
/data/*.desktop
/data/*.schemas

# /help
/help/*.omf
/help/*/*.page
!/help/C/*.page
/help/*/*.xml
!/help/C/*.xml
/help/*/*.mo

# /po
/po/*.gmo
/po/POTFILES
/po/stamp-it
/po/Makefile.in.in
/po/cat-id-tbl.c
/po/.intltool-merge-cache
/po/messages
/po/missing
/po/*.mo
/po/notexist
/po/po2tbl.sed.*
/po/*.pot
/po/stamp-cat-id

# /libtomboy
/libtomboy/.deps
/libtomboy/.libs
/libtomboy/*.la
/libtomboy/*.lo

# /Tomboy
/Tomboy/Addins/*/*.dll
/Tomboy/Addins/*/*.dll.mdb
/Tomboy/Addins/*/*.pidb
/Tomboy/Addins/*/obj/
/Tomboy/Defines.cs
/Tomboy/tomboy-panel
/Tomboy/*.exe
/Tomboy/*.exe.config
/Tomboy/*.exe.mdb
/Tomboy/tomboy

# /Setup
/Setup/bin/
/Setup/obj/
