* {
    font-family: sans-serif;
}

/*
    Header
*/
#header{
    background: #f0f0f0;
    border-top: #d2d2d2 solid 1px;
    border-bottom: #d2d2d2 solid 1px;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

#header a{
    color: #747474;
    text-decoration: none;
}

#header a:hover{
    text-decoration: underline;
}

#logo{
    border: none;
    float: left;
}

#menu{ 
    text-align: right;
    font: bold 12pt/14pt sans-serif;
}

/*
    Body
*/
body{
    margin: 0px; 
    font: 10pt/14pt sans-serif;
}
#body{
    padding: 15px;
    margin-left: 100px;
    margin-right: 100px;
}
#body h1, h2{
    clear: left;
    color: #747474;
    text-transform: capitalize;
    font: bold 16pt/20pt sans-serif;
}
#body h3{
    color: #747474;
}

#body a{
    color: #c03600;
    text-decoration: none;
}

#body a:hover{
    text-decoration: underline;
}

#intro{
    border: none;
    padding: 10px;
    float: left;
}

#windows{
    clear: right;
    border: none;
    text-align: center;
    font-size: x-small;
}

#applet{
    clear: right;
    border: none;
    padding: 10pt;
    float: right;
    text-align: center;
    font-size: x-small;
}

#textmenu{
    border: none;
    padding: 0pt;
    float: right;
    text-align: center;
    font-size: x-small;
}

ul li{
    list-style: url(./img/bulletpoint.gif) inside;
    margin-left: 10px;
}

#download-link{
    text-align: center; 
    text-decoration: underline;
}

/*
    Footer
*/
#footer{
    background: #c03600;
    color: white;
    text-align: center;
    font-size: 8.5pt;
}

#footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#footer a:hover{
    text-decoration: underline;
}

#monohost{
    text-align: center; 
    font-size: 8.5pt;
}
