<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
		Name="Tomboy Notes"
		Language="1033"
		Version="1.3.2.0"
		UpgradeCode="4401CB77-D6D4-4903-B1F9-41E2F80DF785"
		Manufacturer="Tomboy Project">
		<Package Description="Tomboy Notes"
			Comments="Installs or upgrades Tomboy notes/"
			InstallerVersion="200"
			Compressed="yes"/>
		<!--
			Source media for the installation. 
 			Specifies a single cab file to be embedded in the installer's .msi. 
		-->
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>
		
		<!-- Installation directory and files are defined in Files.wxs -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramMenuFolder" Name="Programs" />
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>

		<!--
			The install directory will be stored in the registry 
			this way, future "upgrades" can auto-detect where to go
			TODO: HKLM access requires elevation on Vista, but so do
				"Program Files" installs. If we want non-elevated users
				to be able to install this as smoothly (outside of the
				"Program Files" folder), we need to fall back to HKCU?
		-->
		<Property Id="INSTALLDIR">
			<RegistrySearch Id='SearchTomboyInstallDir' Type='directory' Root='HKLM' Key='Software\Tomboy' Name='InstallDir' />
		</Property>
		
		
		<Property Id="GTKSHARPNOVELLINSTALLVERSION">
			<RegistrySearch Id='GtksharpnovellRegistry' Type='raw' Root='HKLM' Key='Software\Novell\GtkSharp\Version' />
		</Property>
		<Condition Message="This setup requires Gtk# for .NET (version 2.12.8 or higher). Please download the latest installer from http://ftp.novell.com/pub/mono/gtk-sharp/ ">
			<![CDATA[GTKSHARPNOVELLINSTALLVERSION >= "2.12.8" OR (GTKSHARPNOVELLINSTALLVERSION << "2.12.1" AND GTKSHARPNOVELLINSTALLVERSION <> "2.12.1") OR REMOVE ~= "ALL"]]>
		</Condition>
		<Condition Message='This setup requires the .NET Framework 2.0 or higher.'>
			<![CDATA[MsiNetAssemblySupport >= "2.0.50727"]]>
		</Condition>

		
		<Feature ConfigurableDirectory="INSTALLDIR" TypicalDefault="install" 
					Id="TomboyNotes"
		         Title="Tomboy Notes"
		         Description="Take notes, link ideas, and stay organized."
		         Level="1">
		         <ComponentRef Id="TomboyCore"/>
		         <ComponentRef Id="INSTALLDIR"/>
		         <ComponentRef Id="Note_newPng"/>
		         <ComponentRef Id="TomboyPng"/>
		         <ComponentRef Id="Pin_activePng"/>
		         <ComponentRef Id="Pin_downPng"/>
		         <ComponentRef Id="Pin_upPng"/>
		         <ComponentRef Id="Filter_note_allPng"/>
		         <ComponentRef Id="Filter_note_unfiledPng"/>
		         <ComponentRef Id="AppsTomboyPng"/>
		         <ComponentRef Id="NotePng"/>
		         <ComponentRef Id="NotebookPng"/>
		         <ComponentRef Id="AppsTomboyPng1"/>
		         <ComponentRef Id="AppsTomboyPng2"/>
		         <ComponentRef Id="Notebook_newPng"/>
		         <ComponentRef Id="AppsTomboyPng3"/>
		         <ComponentRef Id="TomboySvg"/>
		</Feature>
		
		<WixVariable Id="WixUIDialogBmp" Value="DlgBmp.bmp" />
		<WixVariable Id="WixUIBannerBmp" Value="BannrBmp.bmp" />
		
		<!-- 
			Using the Wix UI library
 
			WixUI_InstallDir does not allow the user to choose 
			features but adds a dialog to let the user choose a 
			directory where the product will be installed
		-->
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<UIRef Id="WixUI_InstallDir"/>

		<Icon Id="Tomboy.exe" SourceFile="..\bin\Debug\Tomboy.exe" />
	</Product>
</Wix>
